@import url('https://fonts.googleapis.com/css2?family=Ubuntu');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg{
    background: url(images/553ebc3377b2cd2dc3cc5e0e0f26d4f9.png);
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    left: -30;
    top: -30;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);
}

.loading-text{
    font-size: 50px;
    color: #fff;
}