@import url('https://fonts.googleapis.com/css?family=Roboto:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}

body{
    background-color: rgb(126, 118, 118);
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

div{
    position: absolute;
    bottom: 20px;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    font-size: 18px;
}

input{
    width: 50px;
    padding: 5px;
    font-size: 18px;
    background-color: rgb(143, 138, 137);
    border: none;
    text-align: center;
}

input:focus{
    outline: none;
}